[Desktop Entry]
Version=1.0
Type=Application
Name=TempMonitor (Kivy)
Comment=Touch-UI — 4-Kanal Temperatur Monitor
Exec=/home/pi/py/TempMonitor/dev/start_tm_kivy_gui.sh
Path=/home/pi/py/TempMonitor/dev
Icon=utilities-system-monitor
Terminal=false
Categories=Utility;
StartupNotify=false
